body {
  background-color: rgb(247,247,247);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}


/* NAVBAR */


.navBar {
  border-bottom: 1px solid black;
  height: 81px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navImg1{
  height: 30px;
}

.navImg2{
  height: 35px;
  text-align: center;
}

.navDiv1, .navDiv2, .navDiv3 {
  align-items: center;
  background-color: rgb(247,247,247);
  display: flex;
}

.navDiv1{
  display: flex;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
}

.navDiv3{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  justify-content: center;
  height: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

.navDiv1:hover, .navDiv3:hover {
  background-color: gray;
  cursor: pointer;
}

.navRightSmallDiv p {
  margin: auto;
}

#chartDiv {
  width: 97%;
  height: 70vh;
  margin-left: 10px;
}


/* BURGERBAR */


.rightBurgerBar {
  position: absolute;
  top: 65px;
  right: 0px;
}

.rightBurgerBar li, .leftBurgerBar li {
  list-style-type: none;
  text-decoration: none;
  line-height: 50px;
  border: 1px solid black;
  background-color: rgb(247,247,247);
  width: 175px;
  color: black;
  font-weight: 600;
}

.rightBurgerBar li:hover, .leftBurgerBar li:hover {
  background-color: rgb(116,178,103);
  cursor: pointer;
}

.leftBurgerBar {
  position: absolute;
  top: 65px;
  left: -40px;
}

.logo {
  height: 60px;
  text-align: center;
}


/* BUTTONS */


.blackButton {
  color: black;
  border: 2px solid black;
  font-weight: 600;
  display: inline;
  height: 40px;
  width: 50%;
  border-radius: 50px;
  margin-bottom: 10px;
}

.blueButton {
  color: blue;
  border: 2px solid blue;
  font-weight: 600;
  display: none;
  height: 40px;
  width: 50%;
  border-radius: 50px;
  margin-bottom: 10px;
}

.blackButton:hover, .blueButton:hover {
  background-color: gray;
  cursor: pointer;
}

/* COUNTRY PAGE */

.countryMamaDiv {
  display:flex;
  flex-direction: column;
}

.articleDiv{
  border: 1px gray solid;
  margin: 15px;
}

@media (min-width: 640px){
  .countryMamaDiv {
    display:flex;
    flex-direction: row;
  }
  .articleDiv{
    border: 1px gray solid;
    margin: 20px 0;
  }
  .countryChildDivLeft{
    margin-left: 20px;
    margin-right: 10px;
    width: 50%;
  }
  .countryChildDivRight{
    margin-right: 20px;
    margin-left: 15px;
    width: 50%;
  }
}



.articleHead {
  margin: 20px;
}

.articleImage {
  width: 100%;
  margin: 0 0px;
  padding: 0;
}

.articleAbstractHead {
  font-size: 20px;
  margin: 5px 0;
}

.articleAbstract {
  margin: 0 20px;
  text-align: left;
}

.articleFooter {
  display: flex;
  height: 20px;
  margin: 20px;
}

.articleCategory, .articlePubDate {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top:auto;
  margin-bottom:auto;
}

.articleCategory{
  width: 40%;
}

.articlePubDate{
  width: 60%;
}