.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navImg1{
  height: 30px;
}


.navImg2{
  height: 35px;
  text-align: center;
}


.navDiv1, .navDiv2, .navDiv3 {
  align-items: center;
}

.navDiv1{
  display: flex;
  margin-left: 20px;
}

.navDiv3{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  justify-content: center;
}

.navRightSmallDiv p {
  margin: auto;
}

#chartDiv {
  width: 97%;
  height: 70vh;
  margin-left: 10px;
}

.rightBurgerBar {
  position: absolute;
  top: 65px;
  right: 0px;
}

.rightBurgerBar li {
  list-style-type: none;
  text-decoration: none;
  line-height: 40px;
  border: 1px solid black;
  background-color: rgb(216, 209, 209);
  width: 175px;
}

.leftBurgerBar {
  position: absolute;
  top: 65px;
  left: -40px;
}

.leftBurgerBar li {
  list-style-type: none;
  text-decoration: none;
  line-height: 40px;
  border: 1px solid black;
  background-color: rgb(216, 209, 209);
  width: 175px;
}
